<template>
     <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="address">
                <img src="../../assets/images/home/map.png" >
              </div>
            </div>
            <div class="col-sm-3">
              <div class="address">
                <img src="../../assets/images/home/map.png">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="companyinfo">
                <h2>
                  <span>SHOP</span>CENTER
                </h2>
                <h4>درباره ما :</h4>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده ازلورملورم ایپسوم متن ساختگی با تولید
                  سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                  سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                  باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
                  افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom" style="direction: rtl !important;">
        <div class="container">
          <div class="row">
            <p class="pull-right">
              تمامی حقوق مادی و معنوی این دوره آموزشی متعلق به تاپ لرن می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد
              قانونی دارد .
            </p>
          </div>
        </div>
      </div>
    </footer>
</template>