<template>
      <header id="header">
    <div class="header-middle">
      <!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-md-4" style="text-align: left;">
            <div class="logo">
              <a href="index.html">
                <img src="../../assets/images/home/logo.png" alt="Logo">
              </a>
            </div>
          </div>

          <div class="col-md-8 header-middle-menu">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li>
                  <a href="login.html">
                    <i class="fa fa-lock"></i> ورود
                  </a>
                </li>
                <li>
                  <a href="register.html">
                    <i class="fa fa-user"></i> ثبت نام
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <!--header-bottom-->
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="mainmenu">
              <ul class="nav navbar-nav">
                <li>
                  <router-link to="/">خانه</router-link>
                </li>
                <li class="dropdown">
                  <a >محصولات</a>
                </li>
                <li>
                  <router-link to="/AboutUs">درباره ما</router-link>
                </li>
                <li>
                  <a>سبد خرید</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/header-bottom-->
  </header>
</template>