<template>
 <div id="#app">
<app-header></app-header>
<router-view></router-view>
<app-footer></app-footer>
  
 </div>
 

</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import AppHeader from './components/pages/header-main.vue'
import AppFooter from './components/pages/footer-main.vue'


export default {
  
    metaInfo: {
      script: [
        { src: './assets/js/contact.js', async: true, defer: true },
        { src: './assets/js/custom.js', async: true, defer: true },

      ],
    },
  
  name: 'App',
  components: {
    // HelloWorld
    appHeader:AppHeader,
    appFooter:AppFooter,
    
   

  }
 
}
</script>

<style>
@import url(./assets/css/main.css);
@import url(./assets/css/price-range.css);
@import url(./assets/css/responsive.css);

</style>
